.rounded-borders {
    border-radius: 10px;
    border: medium solid #E5E5E5;
}

/* background image */
body { 
    background: url(images/farbrausch.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#content {
    background-color: white;
}

/* center vertically + horizontally */
.center {
	width: 40%;
    height: 40%;
	background-color: white;
	
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;
	
	max-width:100%;
	max-height:100%;
	overflow:auto;
}

.background {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* login form/label */
.form-label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

form {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}

